.GridItem{
    display: flex;
    flex-direction: column;
    border:  1px solid #a3a0a3;
    box-shadow: 0px 4px 14px 1px rgba(163,160,163,1);
    border-radius: 2%;
    width: 32%;
    padding-bottom: 1%;
    margin-top: 2%;
    justify-content: space-between;
    .ImgWrapper{
        width: 100%;
        overflow: hidden;
        max-height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        p{
            position: absolute;
            color: white;
            font-size: 0.8vw;
            font-weight: bold;
            left: 5%;
            bottom: 5%;
        }
        img{
            width: 100%;
        }
    }
    .Height{
        display: flex;
        align-items: center;
        padding-top: 2%;
        padding-left: 2%;
        p{
            font-size: 1.2vw;
            padding-left: 1%;
            padding-bottom: 1%;
            margin: 1%;
            display: flex;
            color: black;
            span{
                padding-left: 2%;
            }
        }
    }
    .Width{
        display: flex;
        align-items: center;
        padding-left: 2%;
        p{
            font-size: 1.2vw;
            padding-left: 1%;
            padding-bottom: 1%;
            margin: 1%;
            display: flex;
            padding-right: 1%;
            color: black;
            span{
                padding-left: 2%;
            }
        }
    }
}
a{
    cursor: pointer;
    text-decoration: none;
}

@media(max-width: 1500px){
    .GridItem{
        .ImgWrapper{
            max-height: 170px;
        }
    }
}

@media(max-width: 1199.98px){
    .GridItem{
        .ImgWrapper{
            max-height: 120px;
        }
    }
}

@media (max-width: 991.98px) { 
    .GridItem{
            .ImgWrapper{
                max-height: 95px;
            }
    }
 }

@media(max-width: 767.98px){
    .GridItem{
        .ImgWrapper{
            p{
                font-size: 10px;
            }
        }
        .Height{
            p{
                font-size: 12px;
            }
        }
        .Width{
            p{
                font-size: 12px;
            }
        }
    }
}


@media(max-width: 575.98px){
    .GridItem{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        .ImgWrapper{
            max-height: 150px;
            p{
                font-size: 8px;
            }
        }
        .Height{
            p{
                font-size: 10px;
            }
        }
        .Width{
            p{
                font-size: 10px;
            }
        }
    }
}

//////////// LIST ITEM //////////////

.ListItem{
    display: flex;
    border-bottom: 1px solid #a3a0a3;
    width: 100%;
    padding-bottom: 1%;
    margin-top: 2%;
    .ImgWrapper{
        width: 25%;
        overflow: hidden;
        max-width: 250px;
        max-height: 140px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        p{
            position: absolute;
            color: white;
            font-size: 0.8vw;
            font-weight: bold;
            left: 5%;
            bottom: 5%;
        }
        img{
            width: 100%;
        }
    }
    .HeightWidth{
        width: 20%;
    .Height{
        display: flex;
        align-items: center;
        padding-left: 15%;
        p{
            font-size: 1.2vw;
            padding-left: 5%;
            margin: 3%;
            display: flex;
            color: black;
            span{
                padding-left: 5%;
            }
        }
        img{
            width: 1.7vw;
        }
    }
    .Width{
        display: flex;
        align-items: center;
        padding-left: 15%;
        p{
            font-size: 1.2vw;
            padding-left: 5%;
            margin: 3%;
            display: flex;
            color: black;
            span{
                padding-left: 5%;
            }
        }
        img{
            width: 1.6vw;
        }
    }
}
    .ButtonWrapper{
        width: 25%;
        align-self: center;
        margin: 0 auto;
        button{
            font-size: 1.4vw;
            border: 1px solid #d45ec5;
            background-color: #d45ec5;
            padding: 4% 3%;
            color: white;
            outline: none;
            width: 100%;
        }
    }
    &:last-child{
        border: none;
    }
}


@media(max-width: 1199.98px){
    .ListItem{
        .ImgWrapper{
            max-height: 80px;
            p{
                font-size: 0.9vw;
            }
        }
        .ButtonWrapper{
            button{
                color: white;
                font-size: 1.4vw;
                padding: 3% 1%;
            }
        }
    }
}

@media(max-width: 767.98px){
    .ListItem{
        .ImgWrapper{
            p{
                font-size: 8px;
            }
        }
        .HeightWidth{
        .Height{
            p{
                font-size: 12px;
            }
        }
        .Width{
            p{
                font-size: 12px;
            }
        }
    }
        .ButtonWrapper{
            button{
                font-size: 12px;
            }
        }
    }
}

@media(max-width: 575.98px){
    .ListItem{
        .ImgWrapper{
            max-height: 60px;
            width: 30%;
            p{
                font-size: 6px;
            }
        }
        .HeightWidth{
        .Height{
            p{
                font-size: 10px;
            }
        }
        .Width{
            p{
                font-size: 10px;
            }
        }
    }
        .ButtonWrapper{
            width: 20%;
            button{
                font-size: 10px;
                padding: 2px 1px;
            }
        }
    }
}

